{% extends "templates/base/base.html" %}

{% block titulo %}
	Modificacion de Empresa
{% endblock titulo %}

{% block content %}
	{% load widget_tweaks %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
		            <form method="POST" action="">
		            	{% csrf_token %}
		                <div class="form-body">
		                    <h3 class="card-title">Modificacion de Empresa</h3>
		                    <hr>
		                    <div class="row p-t-20">
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Nombre o razon social</label>
		                                {% render_field form.name type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Cuenta Bancomer</label>
		                                {% render_field form.accountBancomer type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Clabe Bancomer</label>
		                                {% render_field form.clabeBancomer type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Cuenta Santander</label>
		                                {% render_field form.accountSantander type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Clabe Santander</label>
		                                {% render_field form.clabeSantander type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Prima de Riesgo</label>
		                                {% render_field form.primss type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">RFC</label>
		                                {% render_field form.rfc type="text" class+="form-control" %}
		                                {{form.rfc.errors}}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Representante Legal</label>
		                                {% render_field form.legalRepresentative type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero de Acta</label>
		                                {% render_field form.recordNumber type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Fecha Constitucion</label>
		                                {% render_field form.dateConstitution type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero del Notario Acta</label>
		                                {% render_field form.noNotarioActa type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Nombre del Notario Acta</label>
		                                {% render_field form.nameNotarioActa type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Residencia Acta</label>
		                                {% render_field form.residenciaActa type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero de Registro Publico Acta</label>
		                                {% render_field form.noRppActa type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero Poder</label>
		                                {% render_field form.numeroPoder type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Fecha Poder</label>
		                                {% render_field form.datePower type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero del Notario Poder</label>
		                                {% render_field form.noNotarioPoder type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero del Notario Poder</label>
		                                {% render_field form.noNotarioPoder type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Nombre del Notario Poder</label>
		                                {% render_field form.nameNotarioPoder type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Redidencia Poder</label>
		                                {% render_field form.residenciaPoder type="text" class+="form-control" %}
		                            </div>
		                        </div>
		                        <div class="col-md-6">
		                            <div class="form-group">
		                                <label class="control-label">Numero de Registro Publico Poder</label>
		                                {% render_field form.noRppPoder type="number" class+="form-control" %}
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="form-actions">
		                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar</button>
		                    <a href="{% url 'Dashboard' %}" class="btn btn-danger"><i class="fa fa-window-close"></i> Cancelar</a>
		                </div>
	                </form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}